<section class="bg-white py-20">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center">What Our Users Say</h2>
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/3 px-4 mb-8">
        <div class="bg-gray-200 p-8 rounded-lg">
          <p class="text-lg mb-4">
            "I've tried a lot of task management tools, and this one is by far
            the best. It's simple, intuitive, and customizable."
          </p>
          <p class="font-bold">- Surya. J</p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-4 mb-8">
        <div class="bg-gray-200 p-8 rounded-lg">
          <p class="text-lg mb-4">
            "I love how easy it is to create tasks and keep a track of them. It's saved us so much time and effort.This tool is wonderful!"                   
          </p>
          <p class="font-bold">- Dhinakaran.S.B.</p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-4 mb-8">
        <div class="bg-gray-200 p-8 rounded-lg">
          <p class="text-lg mb-4">
            "This is my go-to tool in case of managing my tasks.Expecting various tools from the creater of this one."
          </p>
          <p class="font-bold">- Manoj</p>
        </div>
      </div>
    </div>
  </div>
</section>
